NEXT_PUBLIC_SUPABASE_URL=https://spyiaqgzhigzlohghkxf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNweWlhcWd6aGlnemxvaGdoa3hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NzMzNzAsImV4cCI6MjEwNTE0OTM3MH0.8fM4bcCr_ZGBuKHRQc4r-RjCpPfvqQ0LLwTObbmMOHM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNweWlhcWd6aGlnemxvaGdoa3hmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU3MzM3MCwiZXhwIjoyMTA1MTQ5MzcwfQ.2q9SrMqVF9ERj6xGClnZaumeAh4n_SOUr_UnT4gMAA8
PAPER_ENCRYPTION_KEY=34Iq1JagkmXhiH98E4YMBrgbXMaWH77eGsSEvE7gFjc=
